@font-face {
  font-family: 'GetSwichfty';
  src: url('./fonts/get_schwifty.ttf');
  font-weight: normal;
  font-style: normal;
}

#root {
  background-color: rgb(19, 49, 49);
}
.container {
  height: auto;
  box-sizing: border-box;
}
.container-title{
  background-image: url('../public/banner.jpeg');
  background-size: cover;
  background-position:left;
  height: 200px;
  border: 2px solid green;
  border-radius: 10px;
}

.title-app {
  font-size: 40px;
  color: rgb(22, 51, 39);
  -webkit-text-stroke: 0.5px greenyellow;
  font-family: 'GetSwichfty', sans-serif;
  font-weight: bold;
  padding: 25px;
}



