:root {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
}
*, *::before, *::after{
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: fit-content;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img, video, svg {
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}